body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffe6e6;
    font-family: 'Arial', sans-serif;
    text-align: center;
    flex-direction: column;
}

h1 {
    color: #ec6565;
    font-size: 2.5rem;
}

.container {
    padding: 20px;
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

button {
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    transition: all 0.3s ease;
}

#yesBtn {
    background-color: #31b668;
    color: white;
    font-size: 1.2rem;
}

#noBtn {
    background-color: #d1584b;
    color: white;
}

/* .gif-box {
    width: 300px;
    height: 300px;
} */